*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

.contenedorContenido{
    width: 100%;
    height: 90vh;
}

.row {
    height: 100%;
}

.seccion1 {
    height: 100%;
}

.contenedorcajatexto{
    min-height: 80%;
    height: 300px;
}

.cajatexto{
    width: 100%;
    height: 100% !important;
    border: none;
    cursor: pointer;
    color: #0A3871 !important;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    resize: none;
    background-color: #f4f4fc;
}

.cajatexto:focus {
    border: none !important;
    background: #f4f4fc !important;
    outline: none !important;
    box-shadow: none;
}

.cajatexto::placeholder{
    color: #0A3871;
}

.alerta{
    color: #495057;
}

.btn-encriptar{
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.btn-encriptar:hover {
    background-color: #0A3871;
    color: white;
}

.btn-desencriptar{
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.btn-desencriptar:hover {
    background-color: #D8DFE8;
    color: #0A3871;
}

.contenedor-contenido {
    height: 80%;
}
.imagenBuscar {
    width: 100%;
}

 .contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
}


.btn-copiar{
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
}

.btn-copiar:hover {
    background-color: #ffffff;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.ocultar{
    display: none;
}




@media only screen and (max-width: 375px) {
    .seccion1 {
        height:50% ;
    }
    .contenedorcajatexto {
        min-height: 30%;
    }
    .seccion2 {
        height: 60%;
    }
    .contenedorContenido{
        width: 100%;
        height: 120vh;
    }
    .imagenBuscar {
        width: 40%;
    }
    .contenedormunieco {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 769px) {
    .seccion1 {
        height:50% ;
    }
    .seccion2 {
        height: 70%;
    }
    .contenedorContenido{
        width: 100%;
        height: 100vh;
    }
    .imagenBuscar {
        width: 40%;
    }
    .contenedormunieco {
        display: flex;
        justify-content: center;
    }
}


